<div class="radio">
  <h3 class="radio__title">Заголовок радио кнопок</h3>

  <ul class="radio__list">
    <li class="radio__item">
      <input type="radio" id="f-option" name="selector" />
      <label for="f-option" class="radio__label">Вариант 1</label>

      <div class="check"></div>
    </li>

    <li class="radio__item">
      <input type="radio" id="s-option" name="selector" />
      <label for="s-option" class="radio__label">Вариант 2</label>

      <div class="check"><div class="inside"></div></div>
    </li>

    <li class="radio__item">
      <input type="radio" id="t-option" name="selector" />
      <label for="t-option" class="radio__label">Вариант 3</label>

      <div class="check"><div class="inside"></div></div>
    </li>
  </ul>
</div>

<div class="checkbox">
  <h3 class="checkbox__title">Заголовок чекбоксов</h3>
  <div>
    <input type="checkbox" id="answer1" />
    <label for="answer1" class="checkbox__label">Вариант 11</label>
  </div>
  <div>
    <input type="checkbox" id="answer2" />
    <label for="answer2" class="checkbox__label">Вариант 21</label>
  </div>
  <div>
    <input type="checkbox" id="answer3" />
    <label for="answer3" class="checkbox__label">Вариант 31</label>
  </div>
</div>

<select>
  <option>Apples</option>
  <option selected>Pineapples</option>
  <option>Chocklate</option>
  <option>Pancakes</option>
</select>
