<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="swiper-img" src="img/cat1.jpg" alt="cat" />
    </div>
    <div class="swiper-slide">
      <img class="swiper-img" src="img/cat2.png" alt="cat" />
    </div>
    <div class="swiper-slide">
      <img class="swiper-img" src="img/cat3.jpg" alt="cat" />
    </div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
