<div class="content">
  <div class="container">
    <div class="info">
      <div class="tabs">
        <div class="tabs__item">Активная вкладка</div>
        <div class="tabs__item">Вкладка #2</div>
        <div class="tabs__item">Вкладка #3</div>
        <div class="tabs__item">Вкладка #4</div>
      </div>
      <div class="tabs__content">
        <div class="tabs__description">
          Активная вкладка #1 при открытии страницы по умолчанию раскрыта.
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__description">Контент второй вкладки..</div>
      </div>
      <div class="tabs__content">
        <div class="tabs__description">Контент третьей вкладки..</div>
      </div>
      <div class="tabs__content">
        <div class="tabs__description">Контент четвертой вкладки..</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="feature-letter">R</div> -->

<div class="img-wrap">
  <img
    width="500"
    height="500"
    src="https://as2.ftcdn.net/v2/jpg/01/68/22/47/1000_F_168224770_ie6YCGOOp7rKIi1Z6zf8aSg8GcTW1ClZ.jpg"
    alt="Image"
  />
</div>

<svg width="0" height="0">
  <defs>
    <clipPath id="myClip">
      <!-- Верхний левый круг -->
      <circle cx="60" cy="60" r="60" />
      <!-- Верхний правый круг -->
      <circle cx="160" cy="60" r="60" />
      <!-- Нижний левый круг -->
      <circle cx="60" cy="160" r="60" />
      <!-- Нижний правый круг -->
      <circle cx="160" cy="160" r="60" />
      <!-- Центральный круг -->
      <circle cx="120" cy="120" r="60" />
    </clipPath>
  </defs>
</svg>
