// если вы хотите использовать sass-переменные - удалите root

// base
$font-family: 'Helvetica', sans-serif;
$transition: 0.25s ease-in-out;

// colors
$light-color: #fff;
$black-color: #0c0c0c;
$accent-color: #d2232a;
$g1-color: #000a56;
$g2-color: #577e99;
$g3-color: #0f428f;
$g4-color: #323231;
$g5-color: #df1c13;
$border: #c1c1c1;
$line: #dcdcdc;
$input-color: #585858;
$link-form-color: #585858;
$check: rgba(193, 193, 193, 0.4);

